In [4]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import numpy as np
import time
import os
from dotenv import find_dotenv, load_dotenv


numbers = np.arange(0, 150)[::6]

url = "https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors"
chrome_options = Options()
chrome_options.add_experimental_option("detach", True)
dotenv_path = find_dotenv()
load_dotenv(dotenv_path)
DRIVER_PATH = os.getenv("DRIVER_PATH")
driver = webdriver.Chrome(options=chrome_options)
driver.get(url)

# Sleep time to complete human verification manually
time.sleep(20)

table_1 = driver.find_elements(By.CLASS_NAME, value="data-table__value")

dict_data = {}
dict_data["Rank"]  = [item.text for item in table_1[::6]]  
dict_data["Major"] = [item.text for item in table_1[1::6]]
dict_data["Degree Type"] = ["bachelors" for item in table_1[::6]]
dict_data["Early Career Pay"] = [item.text for item in table_1[3::6]]
dict_data["Mid-Career Pay"] = [item.text for item in table_1[4::6]]
dict_data["% High Meaning"]  = [item.text for item in table_1[5::6]]


# next_page = driver.find_element(By.CLASS_NAME, value="icon-right-open")
# next_page.click()

# print(dict_data)

driver.quit()

In [6]:
import pandas as pd

df = pd.DataFrame(dict_data)
df.head()

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,Petroleum Engineering,bachelors,"$97,500","$212,500",61%
1,2,Operations Research & Industrial Engineering,bachelors,"$98,300","$191,800",21%
2,3,Interaction Design,bachelors,"$74,700","$173,600",54%
3,4,Applied Economics and Management,bachelors,"$76,500","$164,400",54%
4,5,Building Science,bachelors,"$69,000","$163,100",47%